body {
  background-image: url(Images/baggrund.png);
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

h2 {
  color: blue;
}
h1 {
  color: blue;
  font-size: 80px;
}
.navbar {
  display: inline;
  border: 2px solid orange;
  display: flex;
  flex-wrap: nowrap;
}
